<div class="login-panel">
  <img
    alt="Gib Sams"
    class="logo"
    src="../../../assets/img/gibsams_logo-min.png"
  />
  <div class="login-content">
    <div class="faded-text" [hidden]="chatAvailabilityResponse?.available">
      {{ chatAvailabilityResponse?.message }}
    </div>
    <div [hidden]="!chatAvailabilityResponse?.available">
      <button
        [disabled]="loading"
        [hidden]="loading"
        (click)="openDisclaimerDialog()"
        mat-raised-button
        color="primary"
        class="button primary-btn"
      >
        JOIN CHAT
      </button>
      <mat-spinner
        [hidden]="!loading"
        [diameter]="32"
        class="form-spinner"
      ></mat-spinner>
    </div>
  </div>
</div>
