<div class="login-panel">
  <div class="login-content login-title">
    <h2>Samaritans</h2>
    <h5>Live Chat Helpline</h5>
    <p>
      Chat anonymously with trained volunteers who are ready to listen if you're
      having a rough day.
    </p>
    <p class="tag-line">No judgement. No pressure. Completely confidential.</p>
  </div>
  <div class="login-content">
    <div class="faded-text" [hidden]="chatAvailabilityResponse?.available">
      {{ chatAvailabilityResponse?.message }}
    </div>
    <div [hidden]="!chatAvailabilityResponse?.available">
      <button
        [disabled]="loading"
        [hidden]="loading"
        (click)="openDisclaimerDialog()"
        mat-raised-button
        color="primary"
        class="button primary-btn"
      >
        JOIN CHAT
      </button>
      <mat-spinner
        [hidden]="!loading"
        [diameter]="32"
        class="form-spinner"
      ></mat-spinner>
    </div>
  </div>
  <div
    class="disclaimer faded-text"
    [hidden]="chatAvailabilityResponse?.available"
  >
    <p>
      If you seek urgent assistance then contact your therapist or local medical
      services.
    </p>
  </div>
</div>
