<div class="password-component">
  <h2 mat-dialog-title>Change Password</h2>
  <form
    [formGroup]="passwordForm"
    (ngSubmit)="onSubmit()"
    class="form-container"
  >
    <mat-form-field>
      <div class="password-container">
        <input
          matInput
          type="password"
          placeholder="Current Password"
          formControlName="currentPassword"
          appPassword
          [ngClass]="{
            'is-invalid': submitted && controls.currentPassword.errors
          }"
          autocomplete="off"
          required
        />
      </div>
      <mat-error *ngIf="submitted && controls['currentPassword'].errors">
        {{ getErrorMessage(controls['currentPassword']) }}
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <div class="password-container">
        <input
          matInput
          type="password"
          placeholder="New Password"
          formControlName="newPassword"
          appPassword
          [ngClass]="{ 'is-invalid': submitted && controls.newPassword.errors }"
          autocomplete="off"
          required
        />
      </div>
      <mat-error *ngIf="submitted && controls['newPassword'].errors">
        {{ getErrorMessage(controls['newPassword']) }}
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <div class="password-container">
        <input
          matInput
          type="password"
          placeholder="Confirm New Password"
          formControlName="confirmNewPassword"
          appPassword
          [ngClass]="{
            'is-invalid': submitted && controls.confirmNewPassword.errors
          }"
          autocomplete="off"
          required
        />
      </div>
      <mat-error *ngIf="submitted && controls['confirmNewPassword'].errors">
        {{ getErrorMessage(controls['confirmNewPassword']) }}
      </mat-error>
    </mat-form-field>
    <div class="form-section">
      <mat-dialog-actions class="space-buttons">
        <button mat-raised-button color="primary" class="primary-btn">
          Save
        </button>
        <button mat-raised-button mat-dialog-close>Cancel</button>
      </mat-dialog-actions>
    </div>
  </form>
</div>
