<mat-card class="container-margin chat-component">
  <div class="chat-border contacts-container">
    <div class="mat-elevation-z2">
      <mat-toolbar>Contacts</mat-toolbar>
    </div>
    <div [hidden]="chatUsers.length" class="no-data-found">
      No users active
    </div>
    <mat-list [hidden]="!chatUsers.length" class="contacts mat-elevation-z1">
      <mat-list-item
        *ngFor="let chatUser of chatUsers"
        (click)="setActiveChat(chatUser)"
      >
        <div class="chat-user-item">
          <mat-icon matListIcon>account_circle</mat-icon>
          <div class="chat-user">
            {{ chatUser.username }}
          </div>
          <!-- Get unreadMessageCount by filtering chat messages -->
          <!-- This can avoid unwanted API calls -->
          <span [hidden]="!chatUser.unreadMessageCount" class="new-msg-icon">{{
            chatUser.unreadMessageCount
          }}</span>
        </div>
      </mat-list-item>
    </mat-list>
  </div>
  <div class="chat-container chat-border">
    <div class="toolbar primary mat-elevation-z2">
      <mat-toolbar class="chat-toolbar">{{ activeChat?.username }}</mat-toolbar>
    </div>
    <app-messages
      [username]="currentUsername"
      [displayDisconnectedMsg]="!isActiveChatConnected && activeChat"
      [loading]="loading"
      [messages]="displayMessages"
    ></app-messages>
    <form
      [formGroup]="chatForm"
      (ngSubmit)="onSend()"
      class="chat-border chat-form"
    >
      <mat-form-field class="message-input-container">
        <input
          matInput
          placeholder="Type a message"
          formControlName="message"
          novalidate
          autocomplete="off"
        />
      </mat-form-field>
      <div class="send-button-container">
        <button
          [disabled]="disableForm()"
          [hidden]="loading"
          mat-raised-button
          color="primary"
          class="primary-btn"
        >
          Send
        </button>
        <mat-spinner [hidden]="!loading" [diameter]="32"></mat-spinner>
      </div>
    </form>
  </div>
</mat-card>
