<mat-sidenav-container class="example-container chat-container" autosize>
  <mat-sidenav-content class="chat-content">
    <div class="contact-toggle-container">
      <div class="contact-toggle" (click)="toggleContacts()">
        <mat-icon
          [hidden]="isContactsVisible"
          matTooltip="Show Contacts"
          class="material-icons"
          >menu</mat-icon
        >
        <mat-icon
          [hidden]="!isContactsVisible"
          matTooltip="Hide Contacts"
          class="material-icons"
          >menu_open</mat-icon
        >
      </div>
    </div>
    <div class="toolbar chat-toolbar primary mat-elevation-z2">
      <mat-toolbar>{{ activeChat?.username }}</mat-toolbar>
    </div>
    <app-messages
      class="chat-window"
      [username]="currentUsername"
      [isDisconnected]="!isActiveChatConnected && activeChat"
      [loading]="loading"
      [messages]="displayMessages"
    ></app-messages>
    <div class="chat-form-section">
      <form [formGroup]="chatForm" (ngSubmit)="onSend()" class="chat-form">
        <mat-form-field class="message-input-container">
          <input
            matInput
            placeholder="Type a message"
            formControlName="message"
            novalidate
            autocomplete="off"
          />
        </mat-form-field>
        <div class="send-button-container">
          <button
            [disabled]="disableForm()"
            [hidden]="loading"
            mat-raised-button
            color="primary"
            class="primary-btn"
          >
            Send
          </button>
          <mat-spinner [hidden]="!loading" [diameter]="32"></mat-spinner>
        </div>
      </form>
    </div>
  </mat-sidenav-content>
  <mat-sidenav
    #sidenav
    mode="side"
    [(opened)]="isContactsVisible"
    position="end"
  >
    <app-contacts
      [activeChat]="this.activeChat"
      [chatMessages]="this.chatMessages"
      (activeChatSet)="onSetActiveChat($event)"
    ></app-contacts>
  </mat-sidenav>
</mat-sidenav-container>
