@import './../../../sass/theme';

.chat-container {
  height: calc(100% - 52px);
  width: 100%;
  position: absolute;
}

.chat-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.contact-toggle-container {
  position: absolute;
  height: 60px;
  display: flex;
  align-items: center;
  right: 0;

  & .contact-toggle {
    display: flex;
    background: $light-grey;
    padding: 8px;
    border-radius: 25% 0 0 25%;
  }

  // issue with hover styling persisting on touchscreens
  // https://medium.com/@mezoistvan/finally-a-css-only-solution-to-hover-on-touchscreens-c498af39c31c
  @media (hover: hover) and (pointer: fine) {
    & .contact-toggle:hover {
      opacity: 0.5;
      cursor: pointer;
    }
  }
}

.chat-toolbar {
  height: 60px;

  & mat-toolbar {
    color: $white;
  }
}

.chat-window {
  position: absolute;
  width: 100%;
  top: 60px;
  bottom: 70px;
  overflow-y: auto;
}

.chat-form-section {
  position: absolute;
  bottom: 0px;
  height: 70px;
  left: 0px;
  right: 0px;
  border-top: solid 1px #e6e5e5;
  background: #f3f2f2;
}

.chat-form {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-left: 0;
  border-right: 0;
}

.contacts {
  overflow-y: auto;
  width: 300px;
  padding: 0;

  & .chat-user-item:hover {
    cursor: pointer;
    background: $primary;
    opacity: 0.8;

    & .chat-user {
      & mat-icon {
        color: $white;
        background: $primary;
      }
      & .chat-username {
        color: $white;
      }
    }
  }

  & .chat-user-item:not(:last-child) {
    border-bottom: solid 1px #d9d9d9;
  }
}

.active-user {
  background: $primary;

  & .chat-user {
    & mat-icon {
      color: $white;
      background: $primary;
    }
    & .chat-username {
      color: $white;
    }
  }
}

.chat-user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  & .chat-username {
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    width: 100%;
    margin-left: 4px;
    overflow: hidden;
  }
}

.new-msg-icon {
  width: 24px;
  height: 24px;
  line-height: 24px;
  font-size: 14px;
  color: $white;
  text-align: center;
  border-radius: 50%;
  background: $warn;
}

.message-input-container {
  width: 100%;
  margin-right: 16px;
}
