<mat-sidenav-container class="example-container chat-container" autosize>
  <mat-sidenav-content class="chat-content">
    <div class="contact-toggle-container">
      <div class="contact-toggle" (click)="toggleContacts()">
        <mat-icon
          [hidden]="isContactsVisible"
          matTooltip="Show Contacts"
          class="material-icons"
          >menu</mat-icon
        >
        <mat-icon
          [hidden]="!isContactsVisible"
          matTooltip="Hide Contacts"
          class="material-icons"
          >menu_open</mat-icon
        >
      </div>
    </div>
    <div class="toolbar chat-toolbar primary mat-elevation-z2">
      <mat-toolbar>{{ activeChat?.username }}</mat-toolbar>
    </div>
    <app-messages
      class="chat-window"
      [username]="currentUsername"
      [isDisconnected]="!isActiveChatConnected && activeChat"
      [loading]="loading"
      [messages]="displayMessages"
    ></app-messages>
    <div class="chat-form-section">
      <form [formGroup]="chatForm" (ngSubmit)="onSend()" class="chat-form">
        <mat-form-field class="message-input-container">
          <input
            matInput
            placeholder="Type a message"
            formControlName="message"
            novalidate
            autocomplete="off"
          />
        </mat-form-field>
        <div class="send-button-container">
          <button
            [disabled]="disableForm()"
            [hidden]="loading"
            mat-raised-button
            color="primary"
            class="primary-btn"
          >
            Send
          </button>
          <mat-spinner [hidden]="!loading" [diameter]="32"></mat-spinner>
        </div>
      </form>
    </div>
  </mat-sidenav-content>
  <mat-sidenav
    #sidenav
    mode="side"
    [(opened)]="isContactsVisible"
    position="end"
  >
    <div class="mat-elevation-z2">
      <mat-toolbar>Contacts</mat-toolbar>
    </div>
    <div [hidden]="chatUsers.length" class="no-data-found">
      No users active
    </div>
    <mat-list [hidden]="!chatUsers.length" class="contacts mat-elevation-z1">
      <mat-list-item
        class="chat-user-item"
        *ngFor="let chatUser of chatUsers"
        (click)="setActiveChat(chatUser)"
        [ngClass]="{
          'active-user': activeChat?.username === chatUser.username
        }"
      >
        <div class="chat-user">
          <mat-icon matListIcon>account_circle</mat-icon>
          <div class="chat-username">
            {{ chatUser.username }}
          </div>
          <span [hidden]="!chatUser.unreadMessageCount" class="new-msg-icon">{{
            chatUser.unreadMessageCount
          }}</span>
        </div>
      </mat-list-item>
    </mat-list>
  </mat-sidenav>
</mat-sidenav-container>
