@import './../../../sass/theme';

.chat-container {
  height: calc(100% - 52px);
  width: 100%;
  position: absolute;
}

.chat-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.contact-toggle-container {
  position: absolute;
  height: 60px;
  display: flex;
  align-items: center;
  right: 0;

  & .contact-toggle {
    display: flex;
    background: $light-grey;
    padding: 8px;
    border-radius: 8px 0 0 8px;
  }

  // issue with hover styling persisting on touchscreens
  // https://medium.com/@mezoistvan/finally-a-css-only-solution-to-hover-on-touchscreens-c498af39c31c
  @media (hover: hover) and (pointer: fine) {
    & .contact-toggle:hover {
      opacity: 0.5;
      cursor: pointer;
    }
  }
}

.chat-toolbar {
  height: 60px;

  & mat-toolbar {
    color: $white;
  }
}

.chat-window {
  position: absolute;
  width: 100%;
  top: 60px;
  bottom: 70px;
  overflow-y: auto;
}

.chat-form-section {
  position: absolute;
  bottom: 0;
  height: 70px;
  left: 0;
  right: 0;
  border-top: solid 1px #e6e5e5;
  background: #f3f2f2;
}

.chat-form {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-left: 0;
  border-right: 0;
}

.message-input-container {
  width: 100%;
  margin-right: 16px;
}
