@use '@angular/material' as mat;

$app-background: mat.define-palette(mat.$green-palette, 200, 500);

$app-primary: mat.define-palette(mat.$teal-palette, 700);
$app-accent: mat.define-palette(mat.$amber-palette, 500, A200);
$app-warn: mat.define-palette(mat.$deep-orange-palette);

$app-theme: mat.define-light-theme(
  (
    color: (
      primary: $app-primary,
      accent: $app-accent,
      warn: $app-warn,
    ),
  )
);

// Export theme colors
$white: #ffffff;
$light-grey: darken($white, 5%);
$background-color: $light-grey;
$nav-background: darken(mat.get-color-from-palette($app-primary), 10%);

$primary: mat.get-color-from-palette($app-primary);
$accent: mat.get-color-from-palette($app-accent);
$warn: mat.get-color-from-palette($app-warn);

$notification-unread: mat.get-color-from-palette(
  mat.define-palette(mat.$green-palette),
  50
);

// alerts
$alert-icon-success: #155724;
$alert-icon-error: #721c24;
