@import '~@angular/material/theming';

@include mat-core();

$app-background: mat-palette($mat-green, 200, 500);

$app-primary: mat-palette($mat-teal, 700);
$app-accent: mat-palette($mat-amber, 500, A200);
$app-warn: mat-palette($mat-red, 900);

$app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);

@include angular-material-theme($app-theme);

// Export theme colors
$white: #ffffff;
$light-grey: darken($white, 5%);
$background-color: $light-grey;
$nav-background: darken(mat-color($app-primary), 10%);

$primary: mat-color($app-primary);
$accent: mat-color($app-accent);
$warn: mat-color($app-warn);

$notification-unread: mat-color(mat-palette($mat-green, 50));

// alerts
$alert-icon-success: #155724;
$alert-icon-error: #721c24;
