<div class="dialog-container content-container">
  <h2 mat-dialog-title>{{ props.title }}</h2>
  <mat-dialog-content>
    <p>{{ props.content }}</p>
  </mat-dialog-content>
  <mat-dialog-actions class="dialog-container">
    <button
      mat-raised-button
      color="primary"
      class="button primary-btn"
      mat-dialog-close="CONFIRMED"
    >
      {{ props.successLabel }}
    </button>
    <button class="button" mat-raised-button mat-dialog-close>
      {{ props.cancelLabel }}
    </button>
  </mat-dialog-actions>
</div>
