<div class="dialog-container content-container">
  <h2 mat-dialog-title>{{ modalTitle }}</h2>
  <mat-dialog-content>
    <p>{{ modalContent }}</p>
  </mat-dialog-content>
  <mat-dialog-actions class="dialog-container">
    <button
      mat-raised-button
      color="primary"
      class="button primary-btn"
      mat-dialog-close="{{ modalSubmitValue }}"
    >
      {{ modalSubmitMessage }}
    </button>
    <button class="button" mat-raised-button mat-dialog-close>
      {{ modalCancel }}
    </button>
  </mat-dialog-actions>
</div>
