<nav
  class="navbar navbar-expand navbar-dark bg-dark mat-elevation-z6"
  *ngIf="isAuthenticated"
>
  <div class="navbar-nav">
    <div class="nav-left">
      <mat-icon
        (click)="leaveChatDialog()"
        matTooltip="Leave Chat"
        class="nav-link material-icons material-icons-btn md-18 exit-chat"
      >
        exit_to_app
      </mat-icon>
    </div>
    <mat-icon
      *ngIf="isChatVisible"
      (click)="toggleChat()"
      matTooltip="Hide Chat"
      class="nav-link material-icons material-icons-btn md-18 visibility"
    >
      visibility
    </mat-icon>
    <mat-icon
      *ngIf="!isChatVisible"
      (click)="toggleChat()"
      matTooltip="Show Chat"
      class="nav-item nav-link
       material-icons material-icons-btn material-icons md-18 visibility"
    >
      visibility_off
    </mat-icon>
  </div>
</nav>
<!-- main app container -->
<div>
  <app-alert></app-alert>
  <router-outlet></router-outlet>
</div>
