<app-loading [isCenter]="true" [isLoading]="isLoading"></app-loading>
<mat-card class="login-panel" [hidden]="isLoading">
  <mat-toolbar>Login</mat-toolbar>
  <form
    [formGroup]="loginForm"
    (ngSubmit)="onSubmit()"
    class="form-container content"
  >
    <mat-form-field>
      <input
        matInput
        placeholder="Username"
        formControlName="username"
        [ngClass]="{ 'is-invalid': submitted && controls.username.errors }"
        required
      />
      <mat-error *ngIf="submitted && controls['username'].errors">
        {{ getErrorMessage(controls['username']) }}
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <div class="password-container">
        <input
          matInput
          type="password"
          placeholder="Password"
          formControlName="password"
          appPassword
          [ngClass]="{ 'is-invalid': submitted && controls.password.errors }"
          autocomplete="off"
          required
        />
      </div>
      <mat-error *ngIf="submitted && controls['password'].errors">
        {{ getErrorMessage(controls['password']) }}
      </mat-error>
    </mat-form-field>
    <div class="form-section">
      <button
        [disabled]="isLoading"
        [hidden]="isLoading"
        mat-raised-button
        color="primary"
        class="primary-btn"
      >
        Submit
      </button>
    </div>
  </form>
</mat-card>
