@import './../../../sass/theme';

.login-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 32px;
  color: $nav-background;
}

.login-panel {
  padding: 16px;
  max-width: 540px;
  width: 100%;
}

@media (max-width: 700px) {
  .login-panel {
    max-width: 400px;
  }
}

@media (max-width: 479px) {
  .login-panel {
    max-width: 300px;
  }
}
