$font-stack: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

$primary-theme-color: #72A487;
$secondary-theme-color: #2F585F;

$primary-theme-font-color: #F2D5B1;
